@model GTF.WordPuzzleSolver.Web.Models.WordMatrixModel
@{
    ViewData["Title"] = "Home Page";
}
<br />
<div class="container">
    <div class="row">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="row">
                    @foreach (var word in Model.Words)
                    {
                        <div class="col-sm-2 col-xs-6">
                            <span class="word">@word</span>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        @for (var row = 0; row < Model.Matrix[0].Count; row++)
                        {
                            <th>
                                @row
                            </th>
                        }
                    </tr>
                </thead>
                <tbody>
                    @{
                        var rowLine = 0;
                    }

                    @foreach (var line in Model.Matrix)
                    {

                        var column = 0;

                        <tr>
                            <th>@rowLine</th>
                            @foreach (var caracter in line)
                            {
                                var className = "x" + rowLine + "y" + column;
                                <td class="@className">@caracter</td>

                                column += 1;

                            }
                            @{
                                rowLine += 1;
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>