@model GTF.WordPuzzleSolver.Web.Models.WordMatrixModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <table class="table">
            @foreach (var line in Model.Matrix)
            {
                <tr>
                    @foreach (var caracter in line)
                    {
                        <td>@caracter</td>
                    }
                </tr>
            }
        </table>

    </div>
</div>
